body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.main-wrapper {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}

.main-words {
  width: 90%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.main-word {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 23.7674px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #000000;
}

.main-wrapper #revamp-90 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 23.7674px;
  line-height: 29px;
  letter-spacing: 0.01em;
  padding-top: 100px;
}

.socials {
  padding-top: 100px;
}

.socials a {
  text-decoration: none;
}

.socials img {
  cursor: pointer;
}

.main-wrapper #wip {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 23.7674px;
  line-height: 29px;
  letter-spacing: 0.01em;
  padding-top: 100px;
}

@media only screen and (max-width: 600px) {
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 30% 0%;
    position: fixed;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .main-wrapper {
    width: 90%;
  }

  .main-wrapper img {
    width: 314.6px;
    height: 32.83px;
  }

  .main-words {
    width: 295px;
  }

  .main-word {
    font-size: 9.91687px;
    line-height: 12px;
  }

  .main-wrapper #revamp-90 {
    font-size: 13.0159px;
    line-height: 16px;
  }

  .socials img {
    width: 19.25px;
    height: 19.25px;
  }

  .main-wrapper #wip {
    font-size: 13.0159px;
    line-height: 16px;
  }
}
